/* Common placeholders, mixins, and variables */

:root {
  --fitz: #{$fitz};
  --fitz-2: calc(var(--fitz) * 2);
  --fitz-half: calc(var(--fitz) / 2);

  --col: #{$col};
  --col-2: calc(var(--col) * 2);
  --col-3: calc(var(--col) * 3);
}

%section-default {
  background: $bg-alt-color;
  margin: var(--fitz);
  padding: var(--fitz);
}