/* photon ✴ Theme Components and Templates */

@import 'fonts';
@import 'color';

:root {
  --fitz: .5em;
  --fitz-2: calc(var(--fitz) * 2);
  --fitz-half: calc(var(--fitz) / 2);

  --col: 18em;
  --col-2: calc( var(--col) * 2 );
  --col-3: calc( var(--col) * 3 );
}

@import 'elements';
@import 'articles';
@import 'asides';
@import 'sections';
@import 'templates';
