
  > footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    // width: 100%;
    padding-top: 1em;
    border-top: 1px solid $border-color;
    margin-top: 1em;

    hr {
      display: none;
    }

    .rst-footer-buttons {
      display: flex;
      gap: 1em;
      margin-left: auto; // Pushes buttons to the right

      .btn {
        color: $link-color;
        border: 1px solid $border-color;
        padding: 0.5em 1em;
        border-radius: 0.25em;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
          color: $link-hover-color;
          background: $bg-alt-color;
          border-color: $link-hover-color;
        }

        .fa {
          display: none;
        }
      }
    }

    div[role="contentinfo"] {
      // Ensures copyright is on the left
    }
  }
