
  > header {
    display: flex;
    flex-flow: row wrap;
    
    // @import 'navigation';

    > .logo {
      flex: 1;
      a {
        display: block;
        padding: var(--fitz);

        img {
          height: 3em;
          margin: .5em auto;
        }

        h1 {
          font-size: 1.1em;
          letter-spacing: .1em;
          padding-left: .5em;
          text-align: center;
        }
      }
    }

    > nav {
      order: 3;
      flex: 1 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      h1 {
        display: none;
      }

      label::after {
        // display: block;
        width: 100%;
        text-align: center;
      }

      ul {
        // display: flex;
        flex-flow: row wrap;
        // li {
          // flex-basis: auto;
        // }
      }

      a {
        // padding: .25em 1em;
        // margin-left: .1em;
        letter-spacing: .1em;
        text-transform: uppercase;
        justify-content: center;
      }
    }

    > .motto {
      flex: 1;
      padding: var(--fitz);

      p {
        font-size: .8em;
        text-align: center;
      }
    }
  }
