/* templates/_default *****************************/

body {
  // Assign grid areas to the main semantic elements
  > header { 
    @extend %section-default;
    grid-area: header; 
  }
  > main { 
    @extend %section-default;
    grid-area: main; 
  }
  > .asides { 
    @extend %section-default;
    grid-area: asides; 
  }
  > footer { 
    @extend %section-default;
    grid-area: footer; 
  }

  @import 'header';
  @import 'main';
  @import 'asides';
  @import 'footer';

  // --- Responsive Grid Layout ---

  // Mobile first (default is flex column)

  // Tablet / Landscape Phone
  @media (min-width: 48em) and (orientation: landscape) {
    display: grid;
    grid-template-areas:
        " header main "
        " asides main "
        " asides footer ";
    grid-template-columns: 16em 1fr;
    grid-template-rows: auto 1fr auto;

    > header {
      flex-flow: column nowrap;
      align-items: stretch;
      > nav {
        flex-flow: column nowrap;
        align-items: center;
      }
    }

    > .asides {
      flex-flow: column nowrap;
      align-items: stretch;
    }
  }

  // Desktop
  @media (min-width: 72em) and (orientation: landscape) {
    grid-template-areas:
        " header main asides"
        " footer main asides";
    grid-template-columns: var(--col) 1fr var(--col);
  }
}
