>main {
  @import 'breadcrumbs';
  display: flex;
  flex-flow: column nowrap;

  >header {}

  >article {
    padding: var(--fitz-2);

    >figure {}
  }



  >section.form {
    form {
      // width: 100%;
    }
  }
}