// @font-face{
//     font-family: 'Fira Sans';
//     src: local("Fira Sans Light"),
//          url("../fonts/Fira_Sans/FiraSans-Light.ttf") format("truetype");
//     font-weight: 300;
//     font-style: normal;
// }
//
// @font-face{
//     font-family: 'Fira Sans';
//     src: local("Fira Sans Light Italic"),
//          url("../fonts/Fira_Sans/FiraSans-LightItalic.ttf") format("truetype");
//     font-weight: 300;
//     font-style: italic;
// }

@font-face{
    font-family: 'Fira Sans';
    src: local("Fira Sans Regular"),
         url("../fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local("Fira Sans Regular Italic"),
         url("../fonts/Fira_Sans/FiraSans-RegularItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

// @font-face{
//     font-family: 'Fira Sans';
//     src: local("Fira Sans Medium"),
//          url("../fonts/Fira_Sans/FiraSans-Medium.ttf") format("truetype");
//     font-weight: 500;
//     font-style: normal;
// }
//
// @font-face{
//     font-family: 'Fira Sans';
//     src: local("Fira Sans Medium Italic"),
//          url("../fonts/Fira_Sans/FiraSans-MediumItalic.ttf") format("truetype");
//     font-weight: 500;
//     font-style: italic;
// }

@font-face{
    font-family: 'Fira Sans';
    src: local("Fira Sans Bold"),
         url("../fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local("Fira Sans Bold Italic"),
         url("../fonts/Fira_Sans/FiraSans-BoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
