// @font-face{
//     font-family: 'Fira Sans Condensed';
//     src: local("Fira Sans Condensed Light"),
//          url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-Light.ttf") format("truetype");
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }
//
// @font-face{
//     font-family: 'Fira Sans Condensed';
//     src: local("Fira Sans Condensed Light Italic"),
//          url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-LightItalic.ttf") format("truetype");
//     font-weight: 300;
//     font-style: italic;
//     font-display: swap;
// }

@font-face{
    font-family: 'Fira Sans Condensed';
    src: local("Fira Sans Condensed Regular"),
         url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: local("Fira Sans Condensed Regular Italic"),
         url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

// @font-face{
//     font-family: 'Fira Sans Condensed';
//     src: local("Fira Sans Condensed Medium"),
//          url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-Medium.ttf") format("truetype");
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }
//
// @font-face{
//     font-family: 'Fira Sans Condensed';
//     src: local("Fira Sans Condensed Medium Italic"),
//          url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-MediumItalic.ttf") format("truetype");
//     font-weight: 500;
//     font-style: italic;
//     font-display: swap;
// }

@font-face{
    font-family: 'Fira Sans Condensed';
    src: local("Fira Sans Condensed Bold"),
         url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Fira Sans Condensed';
    src: local("Fira Sans Condensed Bold Italic"),
         url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-BoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
