@font-face {
  font-family: 'photon-icon';
  src: url('../fonts/photon-icon/photon-icon.woff2') format('woff2'),
       url('../fonts/photon-icon/photon-icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// .photon-chevron-left:before { content: '\3c'; } /* '&lt;' */
// .photon-chevron-right:before { content: '\3e'; } /* '&gt;' */
// .photon-search:before { content: '\3f'; } /* '?' */
// .photon-chevron-up:before { content: '\5e'; } /* '^' */
// .photon-mail:before { content: '\65'; } /* 'e' */
// .photon-facebook:before { content: '\66'; } /* 'f' */
// .photon-github:before { content: '\67'; } /* 'g' */
// .photon-export:before { content: '\68'; } /* 'h' */
// .photon-linkedin:before { content: '\69'; } /* 'i' */
// .photon-pinterest:before { content: '\6e'; } /* 'n' */
// .photon-phone:before { content: '\70'; } /* 'p' */
// .photon-rss:before { content: '\72'; } /* 'r' */
// .photon-skype:before { content: '\73'; } /* 's' */
// .photon-twitter:before { content: '\74'; } /* 't' */
// .photon-chevron-down:before { content: '\76'; } /* 'v' */
// .photon-youtube:before { content: '\79'; } /* 'y' */
