@mixin article-card() {
  /* article-card */

  display: flex;
  flex-flow: column nowrap;
  justify-content: start;

  // Make cards taller than wide
  // aspect-ratio: 3/5;
  // min-height: 20em;
  border: 1px solid var(--color-bg-3);
  padding: 1em;
  background: var(--color-bg-1);
  overflow: hidden;

  >figure {
    height: 60%; // dedicate top part to image
    margin: -1em -1em 1em -1em; // override padding

    >img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  >header {

    // text-align: center;
    >* {
      // text-align: center;
    }
  }

  >.content {
    flex-grow: 1;
    overflow: hidden;
    // align-content: flex-start;
  }

  >footer {
    // flex-flow: column nowrap;

    >aside {
      padding: 0;

      >h1,
      h2 {
        display: none;
      }

      ul,
      li {
        // display: inline;
      }
    }

    >nav {
      text-align: right;
      padding: 0;
      // align-self: flex-end;
      // justify-content: right;
    }

    .more {
      margin: 0 auto;
      text-align: center;
      // display: block;
    }
  }
}