article.excerpt {
  padding: var(--fitz);
  margin: var(--fitz-half) 0;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-flow: column nowrap;

  > .content {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: flex-start;
    gap: var(--fitz);
    margin-bottom: var(--fitz-half);

    > figure {
      flex: 0 0 8em;
      max-width: 8em;
      height: 6em;
      overflow: hidden;
      margin: 0;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    > section {
      flex: 1;

      h2 {
        font-size: 1.1em;
        line-height: 1.2;
        margin: 0;
      }

      blockquote {
        margin: 0;
        font-size: 0.9em;
        line-height: 1.4;
      }
    }
  }

  > footer {
    display: flex;
    justify-content: flex-end;

    .meta {
      font-size: 0.7em;
      gap: 0.5em;
    }
  }

  .article-share {
    display: none;
  }

  .more {
    align-self: flex-end;
  }
}
