article.excerpt {
  cursor: pointer;
  transition: 
      box-shadow .5s, 
      background .5s,
      color .5s;

  > * {
  }

  > header {
    > h1 {
    }
  }

  > figure {
  }

  .article-share {
    display: none;
  }

  .more {
    align-self: flex-end;
  }

  &:hover {
    --bg: var(--color-key-lighter);
    color: black;
    box-shadow: .25em .25em .25em rgba(0,0,0,.4);

    .more {
    }

    a:hover {
    }
  }

}
