/* articles/collection-layouts */

.collection {
    &.layout-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
        gap: var(--gutter);

        // Ensure items stretch to fill grid height
        align-items: start;

        >article {
            // height: 100%;
            // Ensure card mixin styles are applied if conditional
        }
    }

    &.layout-banners {
        display: flex;
        flex-flow: column nowrap;
        gap: var(--gutter);

        >article {
            width: 100%;
        }
    }

    &.layout-list {
        display: flex;
        flex-flow: column nowrap;
        gap: 0;

        >article {
            width: 100%;
            border-bottom: 1px solid var(--color-bg-3);
            padding: 0.5em 0;
        }
    }
}