
> .data {
  // grid-area: data;

  // h1, table {
    // width: auto;
    // margin: 0 auto;
  // }

  // h1 {
    // text-decoration: underline;
  // }

  // table  table {
    // border-left: .1em solid $color-fg;
  // }

  // th, td {
    // text-align: center;
    // width: auto;
    // vertical-align: middle;
    // padding-right: 1em;
    // padding-left: 1em;
    // margin: 0;
  // }

  // th {
    // font-size: .7em;
    // letter-spacing: .25em;
    // padding-right: .5em;
    // // padding-left: .25em;
    // // padding-bottom: 0;
    // text-transform: uppercase;
    // text-align: right;
  // }

  // td {
    // text-align: left;
  // }
}
