
> figure {
  // grid-area: figure;
  overflow: hidden;
  // max-width: 50%;
  display: flex;
  flex-flow: column nowrap;
  cursor: pointer;

  > img {
    max-width: 100%;
    height: 100%;
    // max-height: var(--col);
    margin: 0 auto;

    // object-fit: cover;
    object-position: center;
  }

  > figcaption {
  }

  // &:empty {
    // display: none;
  // }
  &.modal {
    position: fixed;
    z-index: 10;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    > img {
      max-height: none;
    }

    // grid-template-areas:
      // " panel "
      // " list ";
    // grid-template-columns:   1fr;
    // grid-template-rows:  1fr 10em;

    // > .panel {
      // display: block;
    // }

    // > .list {
      // width: 100%;
      // height: 100%;
      // min-height: 5em;
      // display: grid;
      // grid-template-columns: repeat( auto-fit, minmax(1em, 1fr) );
      // // grid-template-columns: auto;
      // // grid-auto-flow: row;
      // > figure {
        // width: 100%;
        // height: 100%;
        // > img {
          // width: 100%;
        // }
      // }
    // }
  }

}
