
article {
  padding: var(--fitz-2);
  margin: var(--fitz);

  display: flex;
  flex-flow: column nowrap;

  > * {
    padding: var(--fitz-2);
    // margin: var(--fitz);
    margin: 0;
    // background: var(--bg);
  }

  @import 'nav';
  @import 'figure';
  @import 'header';
  @import 'content';
  @import 'footer';
  @import 'gallery';

  @media (min-width: 96em) {
    flex-flow: row wrap;

    > .content {
      flex: 1 1 calc(100% - var(--col));
      order: 1;
    }

    > figure {
      flex: 1 1 var(--col);
      order: 2;
    }

    > .gallery {
      flex: 1 1 var(--col);
      order: 4;
    }

    > footer {
      flex: 1 1 var(--col);
      order: 5;
      flex-flow: column nowrap;
      justify-content: flex-start;
    }
  }

  @media (min-width: 108em) {
    > .content {
      flex: 1 1 calc(100% - var(--col-2));
    }

    > figure, > .gallery, > footer {
      flex: 0 0 var(--col-2);
    }
  }
}
