@page {
  size: 8.5in 11in;
  margin: 1in;
  @top-center {}  @bottom-center {}
}

@media print {
  html {
    font-size: 12pt;
    width: 100%;
    display: block;
    background: transparent;
  }
  body {
    --bg: white;
    background: transparent;
    width: 100%;
    display: block;
    font-size: 12pt;
    margin: 0;
    padding: 0;
  }
  body > * {
    margin: 0;
    padding: 0;
  }
  body > header {
    display: block;
    width: 100%;
  }
  body > header > .logo {
    padding: 0;
  }
  body > header > h1 {
    font-size: 1.1em;
  }
  body > header > nav,
body > header > .motto {
    display: none;
  }
  body > .asides {
    display: none;
  }
  body > main {
    display: block;
  }
  body > main article {
    display: block;
    margin: 0;
    padding: 0;
  }
  body > main article > * {
    padding: 0;
  }
  body > main article > * + * {
    padding-top: var(--fitz-2);
  }
  body > main article > nav.context {
    display: none;
  }
  body > main article > nav.context .breadcrumbs > a {
    padding: 0;
  }
  body > main article > footer {
    display: none;
  }
  body > main article > footer > * {
    padding: 0;
  }
  body > main article > footer > * + * {
    padding-top: var(--fitz);
  }
  body > main .collection {
    display: none;
  }
  body > footer > nav, body > footer > aside {
    display: none;
  }
  body > footer > .contact {
    display: flex;
    align-items: center;
  }
}
