html {
  height: 100%;
  max-width: 100%;
  color: $text-color;
  background: $bg-color;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.35;
  text-align: left;
}

body {
  background-color: $bg-color;
  padding: var(--fitz-half);
}