*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
header,
nav,
main,
aside,
footer,
article,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure,
figcaption,
pre,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button {
  margin: 0;
  padding: 0;
}
