.viewcode-link {

    // Hide the original "[source]" text which is wrapped in a .pre span
    .pre {
        display: none;
    }

    // Add the symbol
    &::after {
        content: "{}";
        font-family: "Fira Code", monospace;
        font-weight: bold;
        font-size: 1rem; // Ensure consistent size
        display: inline-block;
        vertical-align: middle;
        padding: 0 0.2em; // Add padding
    }
}